*.safetensors filter=lfs diff=lfs merge=lfs -text
C:/Users/ziyix/Desktop/poetry-generator/backend/models/fine_tuned_model_5/model.safetensors filter=lfs diff=lfs merge=lfs -text
C:/Users/ziyix/Desktop/poetry-generator/web-backend/models/fine_tuned_model_5/model.safetensors filter=lfs diff=lfs merge=lfs -text
