.model-selector {
  padding: 10px;
  background-color: transparent; /* 设置背景为透明 */
  border: 1px solid #ccc; /* 设置边框 */
}


.model-selector select {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #272727; /* 去除边框 */
  border-radius: 5px; /* 设置圆角 */
}
